body {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
}

.container {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}

img {
  height: 100%;
  align: middle;
}

.index-logo {
  position: absolute;
  left: 50%;
  z-index: 5;
  margin-left: -69px;
}

.main-navigator {
  padding: 14px 0;
  text-align: center;
}

ul.main-navigator-menu {
  padding-left: 0;
  list-style-type: none;
  font-size: 0;
}

li.main-navigator-item {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  text-align: left;
}

li.main-navigator-item:nth-child(2) {
  margin-right: 8%;
}

li.main-navigator-item:nth-child(3),
li.main-navigator-item:last-child {
  text-align: right;
}

.main-navigator-item a {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.main-navigator-item a:hover {
  color: #81b3d2;
}

.main-navigator-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigator-active a {
  color: #766357;
}

.navigator-active a:hover {
  color: #604e43;
}

.navigator-active a:active {
  color: rgba(118, 99, 87, 0.3);
}

.main-photo {
  position: relative;
  z-index: 1;
  height: 508px;
  overflow: hidden;
  background-color: #88b2d2;
}

.main-photo img{
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.main-photo::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 8;
  width: 100%;
  height: 57px;
  background: url("../img/mask.png") no-repeat center;
}

.sedona-welcome {
  padding-top: 62px;
  padding-bottom: 49px;
  background-color: #ffffff;
}

.welcome-slogan {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.welcome-reasons {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.reasons-box {
  background-color: #81b3d2;
}

.third-reason {
  background-color: #eeeeee;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.reason {
  float: left;
  width: 33.33%;
  padding-top: 57px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #81b3d2;
}

.second-reason .reason {
  float: right;
}

.reason-place {
  float: right;
  width: 66.67%;
  height: 256px;
  background: #88b2d2 url("../img/sedona-photo-1.jpg") no-repeat center;
}

.second-reason .reason-place {
  float: left;
  background: #88b2d2 url("../img/sedona-photo-2.jpg") no-repeat center;
}

.reason-name {
  width: 157px;
  margin: 0 auto 23px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.reason-number {
  margin-top: 0;
  margin-bottom: 21px;
  text-align: center;
}

.reason-description {
  width: 70%;
  min-height: 82px;
  margin: 0 auto;
  text-align: center;
}

.third-reason .reason-description {
  word-wrap: break-word;
}

.reason-motivation {
  float: left;
  width: 33.33%;
  padding-top: 164px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.reason-motivation:last-child {
  width: 33.34%;
}

.motivation-name {
  position: relative;
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.motivation-description {
  position: relative;
  width: 73%;
  min-height: 112px;
  margin: 0 auto;
  text-align: center;
}

.motivation-name::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -108px;
  width: 70px;
  height: 78px;
  margin-left: -35px;
  background: url("../img/sprite-sedona.png") no-repeat center;
}

.house::before {
  width: 80px;
  height: 80px;
  background-position: -210px -100px;
}

.eat::before {
  width: 80px;
  height: 80px;
  background-position: -10px -100px;
}

.gift::before {
  width: 80px;
  height: 80px;
  background-position: -110px -100px;
}

.third-reason .reason {
  padding-top: 48px;
  padding-bottom: 19px;
  background-color: #eeeeee;
}

.third-reason .reason-name {
  color: #000000;
}

.third-reason .reason-number,
.third-reason .reason-description {
  color: #333333;
}

.booking {
  position: relative;
  width: 100%;
  margin-top: 0;
  padding-top: 59px;
  text-align: center;
  background-color: #ffffff;
}

.interest {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.booking-description {
  width: 440px;
  margin: 0 auto 45px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.ordering {
  display: inline-block;
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.booking-form {
  position: absolute;
  z-index: 4;
  box-sizing: border-box;
  width: 568px;
  left: 50%;
  margin-left: -284px;
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 5px rgba(0, 1, 1, 0.15);
}

@-webkit-keyframes leave {
  0%   {
    -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes leave {
  0%   {
    -webkit-transform: translateY(-280px);
            transform: translateY(-280px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

.booking-form-close {
  display: none;
}

.booking-form-show {
  display: block;
  -webkit-animation: leave 1s;
          animation: leave 1s;
}

.booking-form-error {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.ordering-line {
  position: relative;
  margin-bottom: 29px;
  text-align: left;
  vertical-align: middle;
  font-size: 0;
}

.ordering-line:nth-child(2) {
  margin-bottom: 30px;
}

.label-form {
  display: inline-block;
  width: 106px;
  margin-right: 6px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: middle;
}

.ordering-field {
  display: inline-block;
  width: 346px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

.ordering-field input {
  box-sizing: border-box;
  width: 346px;
  padding: 4px 14px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: 2px #f2f2f2 solid;
  outline: none;
}

.ordering-line input:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.ordering-line input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.calendar-iсons {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 7px;
  background: url("../img/sprite-sedona.png") no-repeat -138px -4px;
}

.calendar-iсons:hover {
  background-position: -226px -4px;
}

.calendar-iсons:active {
  background-position: -182px -4px;
}

.number {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  vertical-align: middle;
  background-color: #f2f2f2;
}

.number-of {
  box-sizing: border-box;
  width: 38px;
  padding: 9px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: none;
  outline: none;
}

.number:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  background: url("../img/sprite-sedona.png") no-repeat -250px -55px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.number:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  background: url("../img/sprite-sedona.png") no-repeat -276px -234px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.number:first-child:hover::before {
  background-position: -276px -200px;
}

.number:first-child:active::before {
  background-position: -284px -55px;
}

.number:last-child:hover::before {
  background-position: -177px -268px;
}

.number:last-child:active::before {
  background-position: -144px -268px;
}

.ordering-people-line {
  display: inline-block;
  width: 228px;
  height: 38px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

.ordering-people-line:first-child {
  margin-right: 2px;
}

.label-form-children {
  width: 88px;
  margin-right: 26px;
  text-align: right;
}

.ordering-people-field {
  display: inline-block;
  width: 114px;
  margin-right: 0;
  font-size: 0;
  vertical-align: middle;
}

.btn {
  width: 100%;
  height: 58px;
  margin-top: 25px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #669ec0;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;  
}

.map {
  z-index: 2;
  width: 100%;
  height: 593px;
  background: #88b2d2;
}

footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
  font-size: 0;
  background-color: rgba(254, 254, 254, 0.9);
}

.footer-block {
  display: inline-block;
  width: 33.33%;
  vertical-align: middle;
}

.footer-visit {
  width: 33.34%;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.footer-social {
  font-size: 0px;
  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 6px;
  padding: 9px 8px;
  vertical-align: top;
  background: #81b3d2 url("../img/sprite-sedona.png") no-repeat;
}

.social-btn-tw {
  background-position: -302px -201px;
}

.social-btn-fb {
  background-position: -317px -1px;
}

.social-btn-inst {
  background-position: -302px -101px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn-tw:active {
  background-color: #5496bd;
  background-position: -313px -251px;
}

.social-btn-fb:active {
  background-color: #5496bd;
  background-position: -309px -51px;
}

.social-btn-inst:active {
  background-color: #5496bd;
  background-position: -302px -151px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

.btn-htmlacademy {
  display: inline-block;
  width: 113px;
  height: 40px;
  margin-left: 8px;
  font-size: 0;
  vertical-align: middle;
  background: url("../img/sprite-sedona.png") no-repeat -10px -200px;
}

.btn-htmlacademy:hover {
  background-position: -10px -260px;
}

.btn-htmlacademy:active {
  background-position: -143px -200px;
}

.choice-hotel {
  width: 100%;
  height: 217px;
  background: #38617f url("../img/choice-hotel-fon.jpg") center no-repeat;
}

.container-helper {
  width: 88%;
  margin: 0 auto;
}

.left-column {
  float: left;
  width: 150px;
  margin-right: 90px;
  padding-top: 28px;
  vertical-align: top;
  color: #ffffff;
}

.left-column:nth-child(2) {
  margin-right: 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding: 2px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  vertical-align: top;
  text-align: left;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 28px;
  height: 25px;
  background: url("../img/sprite-sedona.png") no-repeat -279px -10px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 28px;
  height: 25px;
  background: url("../img/sprite-sedona.png") no-repeat -12px -55px;
}

input[type="checkbox"]:hover + label::before {
  background-position: -156px -55px;
}

input[type="checkbox"]:disabled + label::before {
  background-position: -60px -55px;
}

input[type="checkbox"]:checked:hover + label::after {
  background-position: -204px -55px;
}

input[type="checkbox"]:checked:disabled + label::after {
  background-position: -108px -55px;
}

.column-name {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.right-column .column-name{
  margin-bottom: 9px;
}

.check-line {
  display: inline-block;
  width: 100%;
  margin-bottom: 21px;
  text-align: left;
  vertical-align: top;
}

.check-line:last-child {
  margin-bottom: 0;
}

.right-column {
  float: right;
  width: 30%;
  padding-top: 28px;
  color: #ffffff;
}

.search-result-menu {
  padding-top: 34px;
  padding-bottom: 28px;
  font-size: 0;
  text-align: left;
}

.filter-range {
  margin-left: 3%;
}

.range-hotel-cell {
  position: relative;
  margin-bottom: 20px;
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.range-hotel-cell::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range-hotel-cell label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  cursor: pointer;
}

.range-hotel-cell .min-price {
  width: 33%;
  padding-left: 19%;
}

.range-hotel-cell .max-price {
  width: 33%;
  padding-left: 15%;
}

.range-hotel-cell input {
  width: 55%;
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

.range-hotel-slider {
  position: relative;
  margin-bottom: 30px;
}

.range-hotel-slider .slider-line-size {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-hotel-slider .slider-line-segment {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.slider-round {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.slider-round:hover {
  background: #1c4f80;
}

.slider-rounde-min {
  left: 0;
}

.slider-round-max {
  left: 80%;
}

.btn-range {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-range:hover {
  color: #000000;
  background: #ffffff;
}

.search-result {
  display: inline-block;
  font-size: 0;
  text-align: left;
  vertical-align: middle;
}

.found {
  display: inline-block;
  margin-right: 48px;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  vertical-align: middle;
}

.sorting {
  display: inline-block;
  margin-right: 32px;
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
  color: #000000;
}

div.sorting {
  margin-right: 40px;
}

a.sorting {
  text-decoration: none;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px #81b3d2 dotted;
}

a.sorting:hover {
  color: #81b3d2;
}

a.sorting:active {
  color: #000000;
  border-bottom: none;
}

a.sorting-active {
  color: #81b3d2;
  border-bottom: none;
}

.search-leaf {
  float: right;
  margin-right: 0;
  padding-top: 4px;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}

.arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background: url("../img/sprite-sedona.png") no-repeat -10px -10px;
}

.arrow:last-child {
  margin-left: 13px;
  background: url("../img/sprite-sedona.png") no-repeat -73px -10px;
}

.arrow-active:hover {
  background-position: -113px -10px;
}

.arrow-active:active {
  background-position: -42px -10px;
}

.hotel-item {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fefefe;
  border-top: 1px #e5e5e5 solid;
}

.hotel-item:last-child {
  padding-bottom: 150px;
}

.hotel-item:last-child::before {
  content: "";
  position: absolute;
  bottom: 120px;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.hotel-photo {
  float: left;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotel-info {
  float: left;
  width: 40%;
}

.stardom-rating {
  float: right;
  font-size: 0;
  line-height: 0;
  text-align: right;
}

.hotel-name {
  position: relative;
  top: -3px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-container {
  margin-top: 5px;
  font-size: 0;
  line-height: 0;
}

.type-and-price {
  display: inline-block;
  width: 110px;
  font-size: 0;
  text-align: left;
}

.type-and-price:first-child {
  margin-right: 6px;
}

.type-and-price:last-child {
  width: 142px;
}

.type-and-price-name {
  display: inline-block;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.type-and-price-btn {
  display: block;
  width: 100%;
  height: 24px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.type {
  background-color: #81b3d2;
}

.price {
  background-color: #766357;
}

.type:hover {
  background-color: #669ec0;
}

.type:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.price:hover {
  background-color: #604e43;
}

.price:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.stardom {
  display: inline-block;
  height: 16px;
  margin-bottom: 47px;
  background-image: url("../img/icon-star.png");
  background-repeat: repeat-x;
}

.four-stars {
  width: 90px;
}

.two-stars {
  width: 42px;
}

.three-stars {
  width: 65px;
}

.rating {
  display: block;
  width: 112px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}
