body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-style: normal;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", serif;
}

h2 {
  font-size: 21px;
  font-style: bold;
  color: #000000;
}

.interest {
  font-size: 30px;
  font-style: bold;
  color: #000000;
}
