body {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  color: #333333;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
}

/*body {
  background: #ffffff url("../img/sedona-index-1200-grid+.jpg") no-repeat 50% 0;
  background-size: 1280px auto;
}*/

/*body {
  background: #ffffff url("../img/sedona-hotels-1200-grid.jpg") no-repeat 50% 0;
  background-size: 1280px auto;
}*/

/*h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}*/

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.index-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.main-navigator {
  text-align: center;
  padding: 14px 0;
  outline: 1px yellow solid;
}

ul.main-navigator-menu {
  list-style-type: none;
  padding-left: 0;
  outline: 1px green solid;
  font-size: 0;
}

li.main-navigator-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  outline: 1px red solid;
  width: 20%;
}

li.main-navigator-item:nth-child(2) {
  margin-right: 8%;
}

li.main-navigator-item:nth-child(3),
li.main-navigator-item:last-child {
  text-align: right;
}

.main-navigator-item a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  line-height: 26px;
  font-size: 14px;
}

.main-photo {
  width: 100%;
  height: 508px;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.sedona-welcome {
  outline: 1px yellow solid;
  padding-top: 62px;
  padding-bottom: 49px;
  background-color: #ffffff;
}

.welcome-slogan {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 28px;
  outline: 1px green solid;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.welcome-reasons {
  outline: 1px green solid;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

.reasons-box {
  outline: 1px yellow solid;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.reason {
  float: left;
  outline: 1px green solid;
  color: #ffffff;
  width: 33.33%;
  background-color: #81b3d2;
  padding-top: 58px;
  padding-bottom: 50px;
}

.second-reason .reason {
  float: right;
}

.reason-place {
  float: right;
  outline: 1px green solid;
  width: 66.67%;
  height: 256px;
}

.second-reason .reason-place {
  float: left;
}

.reason-name {
  outline: 1px red solid;
  color: #ffffff;
  margin: 0 auto 23px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  width: 150px;
}

.reason-number {
  outline: 1px red solid;
  margin-top: 0;
  margin-bottom: 21px;
  text-align: center;
}

.reason-description {
  outline: 1px red solid;
  margin: 0 auto;
  text-align: center;
  width: 315px;
}

.third-reason .reason-description {
  width: 270px;
}

.reasons-line {
  outline: 1px yellow solid;
}

.reason-motivation {
  float: left;
  outline: 1px green solid;
  width: 33.33%;
  background-color: #ffffff;
  padding-top: 164px;
  padding-bottom: 80px;
}

.reason-motivation:last-child {
  width: 33.34%;
}

.motivation-name {
  position: relative;
  outline: 1px red solid;
  color: #000000;
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}

.motivation-description {
  position: relative;
  outline: 1px red solid;
  width: 290px;
  margin: 0 auto;
  text-align: center;
}

.motivation-name::before {
  content: "";
  display: block;
  left: 50%;
  top: -108px;
  margin-left: -35px;
  position: absolute;
  width: 70px;
  height: 78px;
  outline: 1px red solid;
}

.third-reason .reason {
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 59px;
}

.third-reason .reason-name {
  color: #000000;
}

.third-reason .reason-number,
.third-reason .reason-description {
  color: #333333;
}


.booking {
  position: relative;
  outline: 1px yellow solid;
  margin-top: 0;
  background-color: #ffffff;
  width: 100%;
  padding-top: 59px;
  text-align: center;
}

.interest {
  outline: 1px green solid;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 29px;
}

.booking-description {
  outline: 1px green solid;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 45px;
}

.ordering {
  outline: 1px green solid;
  display: inline-block;
  text-align: center;
  width: 568px;
  height: 24px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 32px;
  padding-bottom: 30px;
}

.booking-form {
  outline: 1px green solid;
  position: absolute;
  width: 568px;
  height: 395px;
  left: 50%;
  margin-left: -284px;
  background-color: #ffffff;
  padding: 55px;
  box-sizing: border-box;
}

.ordering-line {
  outline: 1px red solid;
  height: 38px;
  margin-bottom: 29px;
  text-align: left;
  vertical-align: middle;
  font-size: 0;
}

.ordering-line:nth-child(2) {
  margin-bottom: 30px;
}

.label-form {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  outline: 1px #821b81 solid;
  width: 106px;
  margin-right: 6px;
}

.ordering-field {
  display: inline-block;
  font-size: 0;
  width: 346px;
  height: 38px;
  outline: 1px #821b81 solid;
  vertical-align: middle;
  font-size: 0;
}

.ordering-field input {
  box-sizing: border-box;
  width: 308px;
  height: 38px;
  vertical-align: top;
  background: none;
  background-color: #f2f2f2;
  border: none;
  padding: 0;
  padding-left: 14px;
}

.ordering-field [value] {
  /*vertical-align: middle;*/
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.ordering-field value {
font-size: 14px;
line-height: 26px;
font-weight: bold;
color: #000000;
text-transform: uppercase;
vertical-align: top;
}

.calendar-i—Åons {
  width: 38px;
  height: 38px;
  outline: 1px #821b81 solid;
  display: inline-block;
  background-color: #f2f2f2;
}

.number {
  width: 38px;
  height: 38px;
  outline: 1px #821b81 solid;
  display: inline-block;
  vertical-align: top;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.number-of {
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  padding: 0;
  border: none;
}

.ordering-people-line {
  outline: 1px blue solid;
  width: 228px;
  height: 38px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

.ordering-people-line:first-child {
  margin-right: 2px;
}

.label-form-children {
  width: 88px;
  text-align: right;
  margin-right: 26px;
}

.ordering-people-field {
  width: 114px;
  font-size: 0;
  margin-right: 0;
}

.btn {
  outline: 1px red solid;
  width: 100%;
  height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 25px;
  padding: 0;
  border: none;
}

.map {
  outline: 1px yellow solid;
  width: 100%;
  height: 473px;
  background: #cbdda9 url(../img/map.jpg) no-repeat center center;
}

footer {
  outline: 1px yellow solid;
  width: 100%;
  height: 120px;
  background-color: fdfdfd;
}

footer section {
  outline: 1px green solid;
  width: 33.33%;
  /*min-height: 48px;*/
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-visit {
  float: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
  padding-top: 48px;
  outline: 1px red solid;
}

.footer-social {
  float: left;
  font-size: 0px;
  font-weight: bold;
  outline: 1px red solid;
  text-align: center;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  outline: 1px green solid;
  background-color: #81b3d2;
}

.footer-copyright {
  float: right;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

.choice-hotel {
  outline: 1px yellow solid;
  height: 217px;
  width: 100%;
  background: #38617f url(../img/choice-hotel-fon.jpg) no-repeat center center;
}

.container-helper {
  outline: 1px green solid;
  width: 88%;
  margin: 0 auto;
}

.left-column {
  float: left;
  outline: 1px red solid;
  padding-top: 27px;
  color: #ffffff;
  width: 20%;
  vertical-align: top;
  margin-right: 44px;
}

[type="checkbox"] {
  width: 21px;
  height: 21px;
  border: 2px #ffffff solid;
  margin-right: 14px;
}

.check-line label {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

.right-column {
  float: right;
  outline: 1px red solid;
  color: #ffffff;
  width: 35%;
}

.column-name {
  font-size: 16px;
  line-height: 21px;
  outline: 1px blue solid;
  margin-top: 0;
  margin-bottom: 24px;
  text-align: left;
}

.right-column .column-name{
  margin-bottom: 8px;
}

.check-line {
  display: inline-block;
  outline: 1px blue solid;
  margin-bottom: 23px;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.right-column {
  float: right;
  outline: 1px red solid;
  padding-top: 30px;
  width: 328px;
}

.search-result-menu {
  outline: 1px yellow solid;
  background-color: #fefefe;
  padding-top: 32px;
  padding-bottom: 30px;
  text-align: left;
  font-size: 0;
}

.range-hotels {
  height: 32px;
  margin-bottom: 20px;
  margin-left: 10px;
  border: 2px #ffffff solid;
  border-radius: 2px;
  font-size: 0;
  text-align: center;
}

.range-hotel-cell {
  display: inline-block;
  vertical-align: bottom;
  width: 155px;
  font-size: 0;
  outline: 1px red solid;
  text-align: center;
  min-height: 30px;
  padding-top: 7px;
}

.range-hotels::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: #ffffff;
}

.range-hotel-price {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  width: 60px;
  margin-right: 4px;
  vertical-align: bottom;
  outline: 1px red solid;
  cursor: pointer;
}

.range-hotel-cell input {
  display: inline-block;
  width: 58px;
  outline: 1px red solid;
  padding: 0;
  border: 0;
  background: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  vertical-align: bottom;
}

.controls-slider {
  position: relative;

  margin-bottom: 30px;
}

.slider-line-max {
  height: 2px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-line-min {
  height: 2px;
  margin-left: 10px;
  margin-right: 55px;
  background-color: #ffffff;
}

.slider-round {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.slider-round:hover {
  background: #1c4f80;
}

.slider-round-min {
  left: 10px;
}

.slider-round-max {
  left: 262px;
}

.btn-renge {
  display: block;
  margin: 0 auto;
  width: 133px;
  height: 34px;
  padding: 6px 35px;
  background: none;
  border: 2px #ffffff solid;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.search-result {
  outline: 1px red solid;
  float: left;
  margin-right: 50px;
}

.found {
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
}

.sorting {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-right: 50px;
  outline: 1px blue solid;
}

a.sorting {
  color: rgba(0, 0, 0, 0.3);
  text-decoration-color: #81b3d2;
}

a.sorting:hover {
  color: #81b3d2;
  text-decoration: none;
}

.collating a:hover {
  color: #81b3d2;
  text-decoration: none;
}

.arrow {
  outline: 1px red solid;
  float: right;
  margin-right: 0;
  width: 48px;
  height: 24px;
  font-size: 0;
}

.arrow a {
  display: inline-block;
  width: 24px;
  height: 24px;
  outline: 1px blue solid;
}

.hotel-item {
  outline: 1px yellow solid;
  padding-top: 30px;
  padding-bottom: 30px;
  /*background-color: #fefefe;*/
  border-top: 1px #e5e5e5 solid;
}

.hotel-photo {
  float: left;
  outline: 1px red solid;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotel-info {
  float: left;
  outline: 1px red solid;
  width: 40%;
}

.stardom-rating {
  float: right;
  outline: 1px red solid;
}

.hotel-name {
  font-size: 21px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 7px;
  outline: 1px blue solid;
  text-align: left;
}

.hotel-container {
  outline: 1px blue solid;
  font-size: 0;
  line-height: 0;
}

.type-and-price {
  display: inline-block;
  width: 110px;
  text-align: left;
  font-size: 0;
  /*margin-right: 6px;*/
  outline: 1px blue solid;
}

.type-and-price:first-child {
  margin-right: 6px;
}

.type-and-price:last-child {
  width: 142px;
}

.type-and-price-name {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 14px;
  margin-top: 0;
  outline: 1px #821b81 solid;
}

.type-and-price-btn {
  display: block;
  width: 100%;
  height: 24px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding-top: 3px;
  color: #ffffff;
  outline: 1px #821b81 solid;
}

.type {
  background-color: #81b3d2;
}

.price {
  background-color: #766357;
}

/*

.hotel-container {
  outline: 1px blue solid;
  font-size: 0;
}

.type-and-price {
  float: left;
  outline: 1px #821b81 solid;
  width: 110px;
  margin-right: 6px;
}

.type-and-price-name {
  float: left;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 16px;
}

a.type {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 0;
  background-color: #81b3d2;
  color: #ffffff;
  display: inline-block;
}

a.price {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 0px;
  background-color: #766357;
  color: #ffffff;
  display: inline-block;
}*/


.stardom-rating {
  outline: 1px red solid;
  float: right;
}

.stardom {
  outline: 1px red solid;
  width: 96px;
  height: 16px;
  background-color: #81b3d2;
  margin-bottom: 50px;
}

.rating {
  outline: 1px red solid;
  color: #666666;
  font-size: 14px;
  line-height: 21px;
  display: block;
  text-align: left;
}
